<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Horario
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <div *ngFor="let curso of cursos">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Curso</ion-card-subtitle>
                    <ion-card-title>{{curso.name}}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    {{curso.dia}}: {{curso.horaInicio}} - {{curso.horaFin}}
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list>

</ion-content>