<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" background-image="../../assets/fondo.jpg ">
  <div class="ion-padding">
    
  <h1 style="font-style:italic; text-align:center">Escuela Profesional de Ingeniería de Sistemas</h1>


    <ion-item>
      <ion-label position="floating">Usuario:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
  </div>

  <ion-button color="primary" expand="block">Ingresar</ion-button>
    
</ion-content>
