<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Horarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

  <ngx-datatable 
      class="dark"
      [limit]="8" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columns]="columns"
      [columnMode]="'force'" 
      [sortType]="'multi'" 
      [headerHeight]="50" 
      [footerHeight]="50">

    </ngx-datatable>

  </div>

</ion-content>
